<div class="mgContainer">
  <table class="table table-responsive mgTable">
    <thead>
      <tr>
        <th class="account-column">
          <a (click)="sortAccount()" target="_blank">Account 
          <span [ngClass]="(isAscending) ? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'">
          </span>
        </a>
        </th>
        <th class="avlcash-column-header">
          <a>
            <span>Available Cash  </span><br>
             <span class="sub-text-header">Today's Change</span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stockInfo of stocktableList; let i = index">
        <td>{{stockInfo.Account.FormatAccountInfo()}}</td>
        <td class="avlcash-column">
          <span>
            {{stockInfo.AvailableCash}}
          </span>
          <br>
          <span [ngStyle]="{ 'color' : stockInfo.ChangeInPercentage < 0? 'red' : 'green'}" class="sub-text">
            {{stockInfo.ChangeInPercentage}} % / {{stockInfo.ChangeInNumber}}
          </span>
        </td>

      </tr>
      <tr *ngIf="take < totalNumber">
        <a (click)="LoadMore()">Load More</a>
      </tr>
    </tbody>
  </table>
</div>